{
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": [".eslintrc.js", "*.config.js", "*-config.js"],
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
